//Generic 500px Mobile Breakpoint
@media only screen and (max-width: 500px) {
  .hero {
    height: 350px;

    #logo {
      background: url('../img/svg/std-white-stacked.svg') no-repeat center;
      height: 160px;
      margin-top: 60px;
    }
  }

  #wrapper .title {
    font-size: 3rem;
    padding: 0px;
  }

  .about-me {
    padding: 120px 20px 120px 20px;
    font-size: 1.2rem;

    .logos {
      margin-top: 100px;
      margin-bottom: 50px;
    }
  }
  .art {
    padding: 120px 1em 120px 1em;
    text-align: center !important;
    .title {
      text-align: center;
      margin-bottom: 80px;
    }
  }
  .project-wrapper {
    padding-top: 100px;
    text-align: center !important;

    .detail {
      text-align: center;
      padding: 0px 20px 20px 20px;
      margin-top: 0px;
    }

    .right {
      text-align: center !important;
    }

    .project {
      padding-bottom: 30px;
      padding-top: 30px;

      .mobile {
        display: inline;
      }

      .desktop {
        display: none;
      }

      .right {
        float: none;
      }
    }
  }
  .contact {
    display: none !important;

  }
  .footer {
    height: 10px!important;
  }
}