$text:#313131;
$bg:rgb(241, 241, 241);
$blue:rgb(29, 115, 131);
$green:#1BBC7E;
$slate: #2E303A;

.is-active {
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
}

a {
  color: $blue;
}

.button[disabled] {
  box-shadow: none;
  opacity: .5;
}

.is-blue {
  background: $blue;
  color: white;
  font-family: "proxima-nova", sans-serif;
  transition: all .1s ease-in-out;

  &:hover {
    color: white;
    background: lighten($color: $blue, $amount: 5);
    top: -1px;
  }
}

.is-slate {
  font-family: "proxima-nova", sans-serif;
  background: $slate;
  color: #fff;
  padding: 20px;
  font-weight: 600;
  font-size: 1.2rem;
  &:hover {
    background: $green;
    transition: all .1s ease-in-out;
  }
}

.is-git {
  font-family: "proxima-nova", sans-serif;
  background: $slate !important;
  opacity: 1 !important;
  color: #fff;

  &.inactive {
    background: #a1a1a1 !important;
    color: white;
    transition: all .1s ease-in-out;

    .tooltip {
      font-family: "proxima-nova", sans-serif;
      visibility: hidden;
      background-color: black;
      color: #fff;
      text-align: center;
      border-radius: 3px;
      padding: 3px;
      position: absolute;
      z-index: 1;
      top: 120%;
      left: 50%;
      margin-left: -60px;
    }

    &:hover .tooltip {
      visibility: visible;
    }
  }
}

.is-git &:hover {
  color: white;
  background: lighten($color: $blue, $amount: 5);
  top: -1px;
}


.has-vertically-aligned-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

 
