@import'_vars';

.imghvr-fade {
  border-radius: 12px;
  &:hover { 
    img {
      opacity: 1 !important;
    }
  }
  figure { 
    figcaption {
      &:hover {
        background-color: rgba(29, 115, 131, .8) !important;
        opacity: .83 !important;
        padding: 30px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        color: #fff
      }
    }
  }
}



body {
  background: #2E303A !important;
}

.sticky { 
  position: fixed; 
  width: 100vw; 
}  
  
.hero {
  height: 600px; 
  background: url('../img/hero-bg-bundle.png');
  background-size: cover;
  border-bottom-right-radius: 16px; 
  border-bottom-left-radius: 16px;
  z-index: 6;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.2);
  position: relative;  
  &.projects {
    height: 250px;
  }
  nav.navbar {
    background: rgba(241, 241, 241, .9);
    border-bottom-right-radius: 11px;
    border-bottom-left-radius: 11px; 
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.2);
  }  
 
  #logo {
    background: url('../img/svg/std-white.svg') no-repeat center;
    height: 65px;
    margin-top: 245px;
  }
}
 
 
///////////////////////
// main site content //  
/////////////////////// 

 
#wrapper {
  font-family: "proxima-nova", sans-serif;
  font-weight: 500;
  font-size: 12pt;
  background: rgb(239, 239, 239);
  position: relative;

  .title {
    font-family: 'fira-sans', sans-serif;
    font-weight: 600;
    color: $green;
    font-size: 3rem;
    padding: 20px; 
  }
}


.about-me {
  z-index: 5;
  font-size: 1.5rem;
  height: auto;
  padding: 8em;
  background: white;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  margin-top: -16px;
  position: relative;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.2);

  .client-wrapper {
    margin-top: 8em;

    .logos {
      padding: 0;
      background: rgb(239, 239, 239);
      border-radius: 10px;
      box-shadow: 0 3px 4px rgba(10, 10, 10, 0.3);
      img {
        width: 350px;
        height: 150px;
        padding: 25px;
      }
    } 
  } 
}  

.project-wrapper { 
  z-index: 4; 
  margin-top: -16px;
  position: relative; 
  padding-top: 200px;
  background: #EFEFEF;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  height: auto;
  .more-btn { 
    margin: 5em auto;
    background-color: $blue;
    &:hover {   
      background-color: $green;  
      color: white;  
    }
  } 
  .project {
    height: auto;
    padding-bottom: 80px; 
    padding-top: 80px;
    .mobile {
      display: none; 
    }    
    .image {  
      img.left {
        height: 246px;    
        width: 400px; 
        float: right; 
      }   
      img.right { 
        height: 246px;  
        width: 400px; 
      } 

    }
  }

  .detail {
    margin-top: 35px;
    text-align: left;

    &.right {
      text-align: right;
    }

    .subtitle {
      font-weight: 600;
      font-size: 1.6rem;
    }
 
    .button {
      margin-top: 5%;
    } 
    
  }
}

.art {
  z-index: 3;
  margin-top: -16px;
  position: relative;
  font-size: 1.5rem;
  height: auto;
  padding: 8em;
  background-image: linear-gradient(to left bottom, #1d7383, #00868e, #009991, #00ab8b, #1bbc7e);
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.2);
  .title {
    color: white !important;
  }
  .project-details {
    height: 250px ;
    line-height: 30px;
    .project-title {
      font-size: 2.3rem;
      font-weight: 600;
      line-height: 40px;
    }
    .series, .year {
      font-weight: 300;
      font-size: 1.2rem;
    }
  }
  .left {
    position: relative!important;
    width: 40%;
    top: .5rem;
  }
  .right {
    position: relative!important;
    width: 40%;
    margin-left: 20%;
    top: .5rem;
  }
}

.contact {
  z-index: 2;
  margin-top: -16px;
  position: relative;
  font-size: 1.5rem;
  height: auto;
  padding: 8em;
  background: #efefef;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.2);
  .large {
    color: $slate;
  }
  .button {
    background: #2E303A;
    color: white;
    width: 120px;
    margin-top: 50px;
  }
}

.footer {
  z-index: 1;
  margin-top: -16px;
  position: relative;
  font-size: 1.5rem;
  height: auto;
  background: #2E303A;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.2);
  img {
    height: 40px;
    display: inline-block;
  } 
  .sig { 
    color: #989898;
    font-size: .8rem;
  }  
}
input[type=text], select { 
  padding: 12px; 
  margin: 8px 0; 
  height:45px;
  display: inline-block;
  color: #212121;
  background: $green;
  border: 1px solid $green;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 1.2rem;
} 

input[type=text]::placeholder {
  color: #212121;
}


@import'_media-queries';