.card-image {
  padding: 20px;
}
.project-title {
  font-size: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #1d7383;
  font-family: 'fira-sans', sans-serif;
  span {
    text-transform: uppercase;
    font-size: .7rem;
  }
}
.tags {
  padding-bottom: 1rem;
}

.is-git {
  &:hover {
    color: white!important;
    margin-top: -2px;
  }
}
.card {
  border-radius: 7px;
  box-shadow: 0 20px 150px #d6e4de;
}
.logo-projects {
  font-family: fira sans, sans-serif;
  font-size: 4rem;
  color: white;
  padding-top: 60px;
  font-weight: 600
}